services:
  express:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - ${PORTBACK}:${PORTBACK}
    volumes:
      - ./back:/app
    env_file:
      - .env
    networks:
      - app-network
    dns:
      - 8.8.8.8
      - 8.8.4.4

  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - ${PORTFRONT}:${PORTFRONT}
    volumes:
      - ./front:/app
    env_file:
      - .env
    networks:
      - app-network

  postgres:
    image: postgres:17
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - postgres_data1:/var/lib/postgresql/data
      - ./DB/init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - .env
    networks:
      - app-network

  
  postgres-usuarios:
    image: postgres:17
    ports:
      - ${POSTGRES_PORT_Usuarios}:${POSTGRES_PORT}
    volumes:
      - postgres_data2:/var/lib/postgresql/data
      - ./DB-Usuarios/init.sh:/docker-entrypoint-initdb.d/init.sh
    env_file:
      - .env
    networks:
      - app-network

  adminer:
    image: adminer
    restart: always
    ports:
      - ${ADMINER_PORT}:${ADMINER_PORT}
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data1:
  postgres_data2: